.container_apresentacao{
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px 0;
    gap: 25px;
    align-items: center;
    
    
}

.container_medicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
    
    text-align: center;
    justify-content: center;
}

.cartao_medico {
    background-color: rgb(255, 255, 255);
    padding: 30px 25px;

    
    width: 100%;
    max-width: 320px;
    
}

.avatar {
    padding: 20px;
    border-radius: 40%;
    font-size: 25px;
    color: white;
    background-color:#225CE5;
    
}
.conteudo_medico {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info {
    color: #225CE5;
}

.info_contato {
    border-top: 1px solid rgba(48, 48, 48, 0.116);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 5px;
}

.item_contato {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
